@font-face {
  font-family: "Effra-Bold";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("EffraBold"), local("EffraBold"),
    url("./assets/fonts/EffraBold.woff2") format("woff2"),
    url("./assets/fonts/EffraBold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Effra-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
